.autor__botones{
  display: none;
}

@media only screen and (min-width: 768px){
  .autor__botones{
    display: flex;
    align-items: center;


    &__boton{

      margin-right: 10vh;
  
      &--azul{
        background-color: $blue;
        color: $white;
        font-family: $letra1;
        height: 5vh;
        padding: 0 2vh;
        margin-right: 1vw;
      }
  
      &--rojo{
        background-color: $red;
        color: $white;
        font-family: $letra1;
        height: 5vh;
        padding: 0 2vh;
      }
    }
  }
}
