.cabecera__logo{
  display: flex;
  height: 120px;
  width: 200px;
  font-family: $letra2;
  font-size: $xx-large;
  padding-top: 6vh;
  padding-left: 5vw;


  &__span{
    font-family: $letra3;
    font-size: $small;
  }
}
