.cabecera{
  &__nav{
    display: flex;
    justify-content: flex-end;

    &__li{
      display: none;
  
      &--lg{
        padding-top: 4vh;
        padding-right: 10vw;
        color: $gris_oscuro;
      }
    }  
  }
}


@media only screen and (min-width: 768px){
  .cabecera{
    &__nav__li{
      display: inline-block;
      padding-top: 4vh;
      margin-left: 2vw; 

      &--lg{
        display: inline-block;
        color: $gris_oscuro;
        padding-top: 4vh;
        margin-left: 2vw;
      }
    }
  }
}
