.autor{
  padding-top: 5vh; 

  &__img{
    margin-left: 40%;
    width: 20vw;
    height: 20vw;
    border-radius: 100px;
  }

  &__text{
    padding-top: 3vh;
    padding-left: 6vw;
  }
}





/*
@media only screen and (min-width: 768px){

  .author{
    padding-top: 3vh;
    border-bottom: 1px solid $gris;
  }

  .author__img{
    width: 15vh;
    height: 15vh;
    border-radius: 100px;
  }

  .author__text{
    padding-top: 5vh;
    padding-left: 6vw;
  }

}*/
