.autor{
  padding-top: 5vh; 

  &__img{
    margin-left: 40%;
    width: 20vw;
    height: 20vw;
    border-radius: 100px;
  }

  &__text{
    padding-top: 3vh;
    padding-left: 6vw;
  }
}




@media only screen and (min-width: 768px){

  .autor{
    padding: 2vh 0;
    border-bottom: 1px solid $gris;

    &__img{
      margin-left: 90%;
      width: 10vh;
      height: 10vh;
      border-radius: 100px;
    }
  }

}
