.videos{
  text-align: center;
  padding: 5vh 15vw 5vh 15vw;

  img{
    width: 70vw;
    height: auto;
    padding-bottom: 1vh;
  }
}

.videos__content{
  padding-top: 4vh;
}

.videos__text{
  text-align: left;
  padding-bottom: 1vh;
}
