$gris: #8B9096;
$negro: #010408;
$gris_oscuro: #595E64;
$blue: #80B3F7;
$red: #EE909E;
$white: #fff;

$letra_bold: 700;
$letra_regular: 400;

$xx-large: 40px;
$x-large: 22px;
$large: 18px;
$medium: 12px;
$small: 10px;

$letra1: 'Libre Franklin', sans-serif;
$letra2: 'Encode Sans Expanded', sans-serif;
$letra3: 'Abel', sans-serif;
