h1{
  font-family: $letra1;
  font-weight: $letra_bold;
  font-size: $x-large;
  color: $negro;
}

h2{
  font-family: $letra1;
  font-weight: $letra_regular;
  font-size: $large;
  color: $negro;
}

.ty_title{
  font-family: $letra1;
  font-weight: $letra_bold;
  font-size: $medium;
  color: $negro;
}

.ty_info{
  font-family: $letra1;
  font-weight: $letra_regular;
  font-size: $medium;
  color: $gris;
}
